.menu-bar {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 9999;
  .menu-bar-link {
    color: #f0f0f0;
    display: grid;
    place-items: center;
    padding: 10px;
  }
  .menu-bar-link.active {
    color: #006f4c;
  }
}
