.menu-bar {
  background-color: #ffffff;
  padding-bottom: 10px;
  padding-inline: 10px;
  position: relative;
  z-index: 50;
  .menu-bar-link {
    color: #6d6c6c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 10px;
    width: 100%;
    text-decoration: none;
    background-color: #006f4c;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    .menu-bar-min-amount {
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
  }
  .menu-bar-link.active {
    color: #006f4c;
    box-shadow: 0 0 10px #ddd;
    border-radius: 30px;
  }
}
