.cart-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  .cart-page-orders {
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-block: 10px;
    height: 100%;
    .cart-empty {
      display: grid;
      place-items: center;
      height: 100%;
    }
  }
  .place-order {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 10px;
    width: 100%;
    text-decoration: none;
    background-color: #006f4c;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
  }
}
