.home {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  .home-sorted-categorys-group {
    overflow-y: auto;
    // background-color: #f4f4f4;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
}
