.categorys {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  .category {
    padding: 7px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    white-space: nowrap;
    &[data-active="true"] {
      background-color: #006F4C;
      color: #ffffff;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
