.add-cart {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow: hidden;
  .add-cart-button{
    padding: 7px 15px;
    background-color: #FF002B;
    color: #ffffff;
    font-style: italic;
  }
  .add-cart-btn {
    padding: 5px;
    outline: none;
    border: none;
    display: grid;
    place-items: center;
    width: 50px;
    background-color: #f0f0f0;
  }
  & > span {
    font-size: 16px;
    font-weight: 700;
  }
}
