.type-toggle {
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  .active {
    // background-color: #00ad46;
    background-color: #ffffff;
    color: #242424;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 5px 2px 10px hsla(0, 0%, 87%, 0.88);
  }
  .type-toggle-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
  }
  .type-toggle-item.locked {
    pointer-events: none;
    cursor: default;
  }
}
