.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  h4 {
    font-size: 20px;
  }
  .menu-header-icon {
    padding: 2px;
    border: 1px solid #d0d0d0;
    display: grid;
    place-items: center;
    border-radius: 10px;
    color: #242424;
    transition: 0.5s ease;

    &:active {
      border-color: #242424;
    }
  }
  .clear {
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 5px;
    transition: 0.5s ease;
    > img {
      width: 30px;
      height: 30px;
    }
    &:active {
      border-color: #242424;
    }
  }
}
