*,
*::after,
*::before {
  // outline: 1px solid red;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}
.home {
  display: grid;
  height: 100vh;
  .home-sorted-categorys-group {
    overflow-y: auto;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
}

.flex {
  display: flex;
}
.gap10 {
  gap: 10px;
}

.container {
  max-width: 770px;
  min-width: 300px;
  margin: 0 auto;
}

.search-input {
  padding: 10px;
  .input {
    width: 100%;
    border: 1px solid #242424;
    padding: 10px 5px;
    border-radius: 6px;
    font-size: 16px;
  }
}
