@use "./root";

*,
*::after,
*::before {
  // outline: 1px solid red;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: #ffffff;
}

.flex {
  display: flex;
}
.flexItems {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.gap10 {
  gap: 10px;
}

.disabled {
  opacity: 0.5 !important;
}

.container {
  max-width: 770px;
  min-width: 300px;
  margin: 0 auto;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
