*,
*::after,
*::before {
  // outline: 1px solid red;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.flex {
  display: flex;
}
.flexItems {
  display: flex;
  align-items: center;
}
.gap10 {
  gap: 10px;
}

.container {
  max-width: 770px;
  min-width: 300px;
  margin: 0 auto;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  height: 45px;
  padding: 0 20px;
  margin: 10px;
  border-radius: 20px;
  .input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px;
    border-radius: 6px;
    background-color: inherit;
    font-size: 16px;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
